<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="applicationContext_service.xml"/>
    &lt;!&ndash;url和处理器进行匹配，处理器是注解式实例化  映射器能能解析注解式处理器&ndash;&gt;
    &lt;!&ndash;url和处理器进行匹配，处理器是注解式实例化  适配器能解析注解式处理器&ndash;&gt;
    &lt;!&ndash;注解式 映射器和适配器（处理 注解式的处理器）&ndash;&gt;
    <mvc:annotation-driven conversion-service="conversionService2"></mvc:annotation-driven>
    &lt;!&ndash;处理器注解，扫描注解的处理器&ndash;&gt;
    <context:component-scan base-package="pluto.control"/>
    &lt;!&ndash;视图解析器&ndash;&gt;
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
    &lt;!&ndash;实例化转化器对象，注册到转换器体系里（SpringMVC 很多转换器的类）&ndash;&gt;
    <bean  id="conversionService2" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        &lt;!&ndash;//往这个工厂里面放置我们自己编写的转换器&ndash;&gt;
        <property name="converters">
            <list>
                &lt;!&ndash;自己转化器实例化对象，将对象放置到转化器工厂&ndash;&gt;
                <bean class="pluto.util.DateConveter"/>
            </list>
        </property>
    </bean>
&lt;!&ndash;文件上传的支持&ndash;&gt;
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        &lt;!&ndash; 设置上传文件的最大尺寸为5MB &ndash;&gt;
        <property name="maxUploadSize">
            <value>10000000</value>
        </property>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="pluto.util.LoginIntcepter"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>-->
