<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.ActiveGradeMapper" >
  <!--//查询所有等级-->
  <select id="selectAllActiveGrade" resultType="ActiveGrade">
        select * from tbl_activegrade
  </select>


  <select id="selectByActiveGrade" resultType="ActiveGrade" parameterType="String">
    select * from tbl_activegrade where activegrade=#{_parameter}
  </select>
</mapper>