<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.BrandMapper" >

  <!-- Brand selectByBrandId(Integer brandid);-->
  <select id="selectByBrandId" resultType="Brand" parameterType="java.lang.Integer" >
    select
    *
    from tbl_brand
    where brandid = #{brandid}
  </select>

  <!--int deleteByBrandId(Integer brandid);-->
  <delete id="deleteByBrandId" parameterType="java.lang.Integer" >
    delete from tbl_brand
    where brandid = #{brandid}
  </delete>

  <!-- int insert(Brand record);-->
  <insert id="insert" parameterType="pluto.entity.Brand" >
    insert into tbl_brand (brandid, brandname)
    values (#{brandid}, #{brandname})
  </insert>

  <!-- int updateByBrandId(Brand record);-->
  <update id="updateByBrandId" parameterType="pluto.entity.Brand" >
    update tbl_brand
    set brandname = #{brandname}
    where brandid = #{brandid}
  </update>
</mapper>