<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.City" >
    <id column="cityid" property="cityid" jdbcType="INTEGER" />
    <result column="cityname" property="cityname" jdbcType="VARCHAR" />
  </resultMap>

  <!-- /*根据市名查市id*/
    public City selectCityByCityName(@Param("cityname")String cityname);-->
  <select id="selectCityByCityName" resultMap="BaseResultMap" parameterType="String">
    select tbl_city.cityid from tbl_city where tbl_city.cityname=#{cityname}
  </select>

</mapper>