<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.CountryMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.Country" >
    <id column="countryid" property="countryid" jdbcType="INTEGER" />
    <result column="counryname" property="counryname" jdbcType="VARCHAR" />
  </resultMap>

  <!-- /*根据国家名查国家id*/
    public Country selectCountryByCountryName(String countryname);-->
  <select id="selectCountryByCountryName" resultMap="BaseResultMap" parameterType="String" >
    select * from tbl_country where tbl_country.countryname=#{countryname}
  </select>

</mapper>