<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DistrictMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.District" >
    <id column="districtid" property="districtid" jdbcType="INTEGER" />
    <result column="districtname" property="districtname" jdbcType="VARCHAR" />
  </resultMap>
  <!--/*根据区名查区id*/
    public District selectDistrictByDistricName(@Param("districname") String districname);-->
  <select id="selectDistrictByDistricName" resultMap="BaseResultMap" parameterType="String">
    select * from tbl_district where tbl_district.districtname=#{districtname}
  </select>


</mapper>