<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogAgeMapper" >
  <!--List<DogAge> selectAllDogAge();-->

  <select id="selectAllDogAge" resultType="DogAge">
    select *
    from tbl_dogage
  </select>
  <!--String selectDogAgeById(Integer dogeageid);-->
  <select id="selectDogAgeById" resultType="String" parameterType="Integer">
    SELECT age FROM tbl_dogage WHERE dogageid=#{_parameter}
  </select>
</mapper>