<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogDiseaseDealMapper" >
  <resultMap id="selectDogDiseaseDealMap" type="DogDiseaseDeal" >
    <id column="dogdiseasedealid" property="dogdiseasedealid"/>
    <result column="dealmethod" property="dealmethod"/>
    <association property="dogcommondisease" javaType="DogCommonDisease">
      <id column="dogcommondiseaseid" property="dogcommondiseaseid"/>
      <result column="diseasename" property="diseasename"/>
    </association>
  </resultMap>
 <!-- List<DogDiseaseDeal>selectAllDogDiseaseDeal();-->
  <select id="selectAllDogDiseaseDeal" resultMap="selectDogDiseaseDealMap">
      SELECT * from tbl_dogdiseasedeal deal,tbl_dogcommondisease disease
      WHERE deal.dogcommondiseaseid=disease.dogcommondiseaseid
  </select>

  <!--DogDiseaseDeal selectDogDiseaseDealById(Integer dogdiseasedealid);-->
  <select id="selectDogDiseaseDealById" parameterType="Integer" resultMap="selectDogDiseaseDealMap">
     SELECT * from tbl_dogdiseasedeal deal,tbl_dogcommondisease disease
      WHERE deal.dogcommondiseaseid=disease.dogcommondiseaseid and deal.dogdiseasedealid=#{_parameter}
  </select>

  <!--String selectDogDiseaseDealByCommonDiseaseId(Integer dogcommondiseaseid);-->
  <select id="selectDogDiseaseDealByCommonDiseaseId" resultType="String" parameterType="Integer">
    SELECT dealmethod from tbl_dogdiseasedeal where dogcommondiseaseid=#{_parameter}
  </select>





















</mapper>