<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogHouseGradeMapper" >

  <!--List<DogHouseGrade> selectAllDogHouseGrade();-->
  <select id="selectAllDogHouseGrade" resultType="DogHouseGrade">
    SELECT  * FROM  tbl_doghousegrade
  </select>

 <!-- DogHouseGrade selectDogHouseGradeByName(String doghousegrade);-->
  <select id="selectDogHouseGradeByName" resultType="DogHouseGrade" parameterType="String">
    SELECT * FROM  tbl_doghousegrade
    WHERE doghousegrade=#{_parameter}
  </select>

</mapper>