<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogHouseMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.DogHouse" >
    <id column="doghouseid" property="doghouseid" jdbcType="INTEGER" />
    <result column="doghousename" property="doghousename" jdbcType="VARCHAR" />
    <result column="doghousegradeid" property="doghousegradeid" jdbcType="INTEGER" />
    <result column="dogsizeid" property="dogsizeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    doghouseid, doghousename, doghousegradeid, dogsizeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_doghouse
    where doghouseid = #{doghouseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_doghouse
    where doghouseid = #{doghouseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pluto.entity.DogHouse" >
    insert into tbl_doghouse (doghouseid, doghousename, doghousegradeid, 
      dogsizeid)
    values (#{doghouseid,jdbcType=INTEGER}, #{doghousename,jdbcType=VARCHAR}, #{doghousegradeid,jdbcType=INTEGER}, 
      #{dogsizeid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.DogHouse" >
    update tbl_doghouse
    set doghousename = #{doghousename,jdbcType=VARCHAR},
      doghousegradeid = #{doghousegradeid,jdbcType=INTEGER},
      dogsizeid = #{dogsizeid,jdbcType=INTEGER}
    where doghouseid = #{doghouseid,jdbcType=INTEGER}
  </update>
</mapper>