<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogHouseMapper" >

  <resultMap id="selectHouseMap" type="DogHouse">
    <id column="doghouseid" property="doghouseid"/>
    <result column="doghousename" property="doghousename"/>
    <association javaType="DogHouseGrade" property="dogHouseGrade">
        <id column="doghousegradeid" property="doghousegradeid"/>
        <result column="doghousegrade" property="doghousegrade"/>
        <result column="doghousevipprice" property="doghousevipprice"/>
        <result column="doghouseprice" property="doghouseprice"/>
    </association>
    <association property="dogSize" javaType="DogSize">
        <id column="dogsizeid" property="dogsizeid"/>
        <result column="dogsize" property="dogsize"/>
    </association>
  </resultMap>
  <!--List<DogHouse> selectAllHouse();-->
  <select id="selectAllHouse" resultMap="selectHouseMap">
    select * from tbl_doghouse house,tbl_doghousegrade grade,tbl_dogsize size
    where house.doghousegradeid=grade.doghousegradeid and house.dogsizeid=size.dogsizeid
  </select>

 <!-- List<DogHouse>selectDogHouseNameByGrade(Integer doghousegradeid);-->

  <select id="selectDogHouseNameByGrade" resultMap="selectHouseMap" parameterType="Integer">
    select * from tbl_doghouse house,tbl_doghousegrade grade,tbl_dogsize size
    where house.doghousegradeid=grade.doghousegradeid and house.dogsizeid=size.dogsizeid
    and house.doghousegradeid=#{_parameter}
  </select>
  <!--List<DogHouse>selectDogHouseNameBySize(Integer dogsizeid);-->
  <select id="selectDogHouseNameBySize" resultMap="selectHouseMap" parameterType="Integer">
    select * from tbl_doghouse house,tbl_doghousegrade grade,tbl_dogsize size
    where house.doghousegradeid=grade.doghousegradeid and house.dogsizeid=size.dogsizeid
    and house.dogsizeid=#{_parameter}
  </select>

  <!--List<DogHouse>selectDogHouseNameByGradeAndSize(Integer doghousegradeid,Integer dogsizeid);-->
  <select id="selectDogHouseNameByGradeAndSize" resultMap="selectHouseMap">
    select * from tbl_doghouse house,tbl_doghousegrade grade,tbl_dogsize size
    where house.doghousegradeid=grade.doghousegradeid and house.dogsizeid=size.dogsizeid
    and house.doghousegradeid=#{param1} and house.dogsizeid=#{param2}
  </select>
</mapper>