<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogIQMapper" >
  <!--List<DogIQ>selectAllDogIQ();-->
  <select id="selectAllDogIQ" resultType="DogIQ">
    select * from tbl_dogiq
  </select>
  <!--String selectDogIQById(Integer dogiqid);-->
  <select id="selectDogIQById" resultType="String" parameterType="Integer">
    select iq FROM tbl_dogiq where dogiqid=#{_parameter}
  </select>
</mapper>