<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogMapper" >
  <resultMap id="DogMap" type="Dog" >
    <id column="dogid" property="dogid"/>
    <result column="dogname" property="dogname"/>
    <association property="dogsize" javaType="DogSize">
      <id column="dogsizeid" property="dogsizeid"/>
      <result column="dogsize" property="dogsize"/>
    </association>
    <association property="dogtype" javaType="DogType">
      <id column="dogtypeid" property="dogtypeid"/>
      <result column="dogtype" property="dogtype"/>
    </association>
    <association property="country" javaType="Country">
      <id column="countryid" property="countryid"/>
      <result column="countryname" property="countryname"/>
    </association>
  </resultMap>

  <!--List<Dog>selectAllDog();-->
  <select id="selectAllDog" resultMap="DogMap">
    select * from tbl_dog dog,tbl_dogsize size,tbl_dogtype type,tbl_country country
    where dog.dogsizeid=size.dogsizeid
    and dog.dogtypeid=type.dogtypeid
    and dog.countryid=country.countryid
  </select>
  <!--Dog selectDogByName(String dogname);-->
  <select id="selectDogByName" resultMap="DogMap" parameterType="String">
    select * from tbl_dog dog,tbl_dogsize size,tbl_dogtype type,tbl_country country
    where dog.dogsizeid=size.dogsizeid
    and dog.dogtypeid=type.dogtypeid
    and dog.countryid=country.countryid
    and dog.dogname=#{_parameter}
  </select>
</mapper>