<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogTypeMapper" >

  <!--List<DogType> selectAllDogType();;-->
  <select id="selectAllDogType" resultType="DogType">
    SELECT * FROM  tbl_dogtype
  </select>



  <!--String selectDogTypeNameById(int dogtypeid);-->
  <select id="selectDogTypeNameById" parameterType="Integer" resultType="String">
    select dogtype FROM tbl_dogtype WHERE dogtypeid=#{_parameter}
  </select>

</mapper>