<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogWeightMapper" >

    <!-- /*根据狗狗重量查询折扣*/
      public Double selectDiscountByDogWeight(Double maxdogweight, Double mindogweight);
  -->
    <select id="selectDiscountByDogWeight" resultType="DogWeight">
        select * from tbl_dogweight
        where tbl_dogweight.weight>=#{param1} and tbl_dogweight.weight &lt; #{param2}
    </select>

    <!-- //查出所有实体
     List<DogWeight>selectAllDogWeight();-->
    <select id="selectAllDogWeight" resultType="DogWeight">
        select *  FROM  tbl_dogweight
    </select>
    <!--//按照id查询weight-->

    <select id="selectDogWeightById" parameterType="Integer" resultType="DogWeight">
    select * FROM  tbl_dogweight WHERE  dogweightid=#{_parameter}
  </select>

</mapper>