<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogWeightMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.DogWeight" >
    <id column="digweightid" property="digweightid" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    digweightid, weight
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_dogweight
    where digweightid = #{digweightid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_dogweight
    where digweightid = #{digweightid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pluto.entity.DogWeight" >
    insert into tbl_dogweight (digweightid, weight)
    values (#{digweightid,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.DogWeight" >
    update tbl_dogweight
    set weight = #{weight,jdbcType=DOUBLE}
    where digweightid = #{digweightid,jdbcType=INTEGER}
  </update>
</mapper>