<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.FosterDetailMapper" >

  <resultMap id="selectFosterDetailMap" type="FosterDetail">
    <id column="fosterdetailid" property="fosterdetailid"/>
    <result column="fosterday" property="fosterday"/>
    <result column="fostertotalprice" property="fostertotalprice"/>
    <association property="doghousegrade" javaType="DogHouseGrade">
      <id column="doghousegradeid" property="doghousegradeid"/>
      <result column="doghousegrade" property="doghousegrade"/>
      <result column="doghousevipprice" property="doghousevipprice"/>
      <result column="doghouseprice" property="doghouseprice"/>
    </association>
    <association property="pet" javaType="Pet">
      <id column="petid" property="petid"/>
      <result column="dogbirthday" property="dogbirthday"/>
      <result column="dogname" property="dogname"/>
      <association property="dogtype" javaType="DogType">
        <id column="dogtypeid" property="dogtypeid"/>
        <result column="dogtype" property="dogtype"/>
      </association>
      <association property="user" javaType="User">
        <id column="userid" property="userid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="tel" property="tel"/>
        <result column="userbalance" property="userbalance"/>
        <result column="userpicture" property="userpicture"/>
        <result column="vip" property="vip"/>
      </association>
    </association>
    <association property="order" javaType="Order">
      <id column="orderid" property="orderid"></id>
      <result column="orderdate" property="orderdate"></result>
      <result column="totalprice" property="totalprice"></result>
      <result column="orderstatus" property="orderstatus"></result>
      <association property="user" javaType="User">
        <id column="userid" property="userid"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="tel" property="tel"></result>
        <result column="userbalance" property="userbalance"></result>
      </association>
      <association property="userconsumption" javaType="UserConsumption">
        <id column="userconsumptionid" property="userconsumptionid"></id>
        <result column="consumptionamount" property="consumptionamount"></result>
      </association>
      <association property="payway" javaType="PayWay">
        <id column="paywayid" property="paywayid"></id>
        <result column="paywayname" property="paywayname"></result>
      </association>
    </association>
  </resultMap>

  <!--//按照fosterdetailid查询
  FosterDetail selectFosterDetailById(Integer fosterdetailid);-->
  <select id="selectFosterDetailById" parameterType="Integer" resultMap="selectFosterDetailMap">
    select * FROM  tbl_fosterdetail detail,tbl_doghousegrade grade,tbl_pet pet,tbl_dogtype type,tbl_user user
    where detail.doghousegradeid=grade.doghousegradeid AND detail.petid=pet.petid AND pet.dogtypeid=type.dogtypeid
    and pet.userid=user.userid and detail.fosterdetailid=#{_parameter}
  </select>
 <!-- //按照petid查询
  List<FosterDetail> selectFosterDetailByPetId(Integer petid);-->
  <select id="selectFosterDetailByPetId" parameterType="Integer" resultMap="selectFosterDetailMap">
    select * FROM  tbl_fosterdetail detail,tbl_doghousegrade grade,tbl_pet pet,tbl_dogtype type,tbl_user user
    where detail.doghousegradeid=grade.doghousegradeid AND detail.petid=pet.petid AND pet.dogtypeid=type.dogtypeid
    and pet.userid=user.userid and detail.petid=#{_parameter}
  </select>

  <!--boolean insertFosterDetail(FosterDetail fosterDetail);-->
  <insert id="insertFosterDetail" parameterType="FosterDetail" useGeneratedKeys="true" keyProperty="fosterdetailid">
    insert into tbl_fosterdetail(fosterday,fostertotalprice,doghousegradeid,petid) VALUES(#{fosterday},#{fostertotalprice},#{doghousegrade.doghousegradeid},#{pet.petid})
  </insert>

  <!--boolean updateFosterDetail(FosterDetail fosterDetail);-->
  <update id="updateFosterDetail" parameterType="FosterDetail">
    UPDATE   tbl_fosterdetail
    set fosterday=#{fosterday},fostertotalprice=#{fostertotalprice},doghousegradeid=#{doghousegrade.doghousegradeid},petid=#{pet.petid}
    where fosterdetailid = #{fosterdetailid}
  </update>

  <!--boolean deleteFosterDetailById(Integer fosterdetailid);-->
  <delete id="deleteFosterDetailById" parameterType="Integer">
    delete  from tbl_fosterdetail WHERE fosterdetailid=#{_parameter}
  </delete>
  <!--boolean deleteFosterDetailByPetId(Integer petid);-->
  <delete id="deleteFosterDetailByPetId" parameterType="Integer">
    delete  from tbl_fosterdetail WHERE petid=#{_parameter}
  </delete>



 <!-- FosterDetail selectFosterDetailByOrderId(Integer orderid);-->
  <select id="selectFosterDetailByOrderId" parameterType="Integer" resultMap="selectFosterDetailMap">
    select * FROM  tbl_fosterdetail detail,tbl_doghousegrade grade,tbl_pet pet,tbl_dogtype type,tbl_user user,tbl_order order1,tbl_payway pw,tbl_userconsumption uc
    where detail.doghousegradeid=grade.doghousegradeid AND detail.petid=pet.petid AND pet.dogtypeid=type.dogtypeid
    and pet.userid=user.userid and detail.orderid=#{_parameter}
   and detail.orderid=order1.orderid and order1.paywayid=pw.paywayid and order1.userconsumptionid=uc.userconsumptionid and order1.userid=user.userid
  </select>

  <!--boolean deleteFosterDetailByOrderId(Integer orderid);-->
  <delete id="deleteFosterDetailByOrderId" parameterType="Integer">
    delete from tbl_fosterdetail WHERE orderid=#{_parameter}
  </delete>
</mapper>