<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.GoodsCategoryMapper" >
  <!-- GoodsCategory selectByGoodsCategoryId(Integer goodscategoryid);-->
  <select id="selectByGoodsCategoryId"  resultType="GoodsCategory" parameterType="Integer">
    select  * from tbl_goodscategory
    where goodscategoryid = #{goodscategoryid}
  </select>



  <!--  int deleteByGoodsCategoryId(Integer goodscategoryid);-->
  <delete id="deleteByGoodsCategoryId" parameterType="java.lang.Integer" >
    delete from tbl_goodscategory
    where goodscategoryid = #{goodscategoryid}
  </delete>

  <insert id="insert" parameterType="pluto.entity.GoodsCategory" >
    insert into tbl_goodscategory (goodscategoryid, categoryname)
    values (#{goodscategoryid,jdbcType=INTEGER}, #{categoryname,jdbcType=VARCHAR})
  </insert>

  <!--int updateByGoodsCategoryId(GoodsCategory record);-->
  <update id="updateByGoodsCategoryId" parameterType="pluto.entity.GoodsCategory" >
    update tbl_goodscategory
    set categoryname = #{categoryname}
    where goodscategoryid = #{goodscategoryid}
  </update>
</mapper>