<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.HospitalInfoMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.HospitalInfo" >
    <id column="hospitalid" property="hospitalid" jdbcType="INTEGER" />
    <result column="hospitalname" property="hospitalname" jdbcType="VARCHAR" />
    <result column="hospitalcityid" property="hospitalcityid" jdbcType="INTEGER" />
    <result column="hospitaldistrictid" property="hospitaldistrictid" jdbcType="INTEGER" />
    <result column="hospitaldistreetid" property="hospitaldistreetid" jdbcType="INTEGER" />
    <result column="hospitalintroduce" property="hospitalintroduce" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hospitalid, hospitalname, hospitalcityid, hospitaldistrictid, hospitaldistreetid, 
    hospitalintroduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_hospitalinfo
    where hospitalid = #{hospitalid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_hospitalinfo
    where hospitalid = #{hospitalid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pluto.entity.HospitalInfo" >
    insert into tbl_hospitalinfo (hospitalid, hospitalname, hospitalcityid, 
      hospitaldistrictid, hospitaldistreetid, 
      hospitalintroduce)
    values (#{hospitalid,jdbcType=INTEGER}, #{hospitalname,jdbcType=VARCHAR}, #{hospitalcityid,jdbcType=INTEGER}, 
      #{hospitaldistrictid,jdbcType=INTEGER}, #{hospitaldistreetid,jdbcType=INTEGER}, 
      #{hospitalintroduce,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.HospitalInfo" >
    update tbl_hospitalinfo
    set hospitalname = #{hospitalname,jdbcType=VARCHAR},
      hospitalcityid = #{hospitalcityid,jdbcType=INTEGER},
      hospitaldistrictid = #{hospitaldistrictid,jdbcType=INTEGER},
      hospitaldistreetid = #{hospitaldistreetid,jdbcType=INTEGER},
      hospitalintroduce = #{hospitalintroduce,jdbcType=VARCHAR}
    where hospitalid = #{hospitalid,jdbcType=INTEGER}
  </update>
</mapper>