<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.HospitalInfoMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.HospitalInfo" >
    <id column="hospitalid" property="hospitalid" jdbcType="INTEGER" />
    <result column="hospitalname" property="hospitalname" jdbcType="VARCHAR" />
    <result column="hospitalintroduce" property="hospitalintroduce" jdbcType="VARCHAR"/>
    <association property="city" javaType="City">
      <id column="cityid" property="cityname"></id>
      <result column="cityname" property="cityname"></result>
    </association>
    <association property="district" javaType="District">
      <id column="districtid" property="districtid"></id>
      <result column="districtname" property="districtname"></result>
    </association>
    <association property="street" javaType="Street">
      <id column="streetid" property="streetid"></id>
      <result column="streetname" property="streetname"></result>
    </association>
  </resultMap>

  <!--/*根据用户的cityid来插叙医院*/
    public List<HospitalInfo> selectHospitalInfoByUserCityId(Integer cityid);-->
  <select id="selectHospitalInfoByUserCityId" resultMap="BaseResultMap" parameterType="Integer">
    select * from tbl_hospitalinfo,tbl_city,tbl_district,tbl_street
    where tbl_hospitalinfo.hospitalcityid=#{cityid}
  </select>
  <!-- /*根据医院名查询医院*/
   public HospitalInfo selectHospitalInfoByHostipalName(String hospitalname);-->
  <select id="selectHospitalInfoByHostipalName" resultMap="BaseResultMap" parameterType="String">
    select * from tbl_hospitalinfo,tbl_city,tbl_district,tbl_street
    where tbl_hospitalinfo.hospitalname=#{hospitalname}
  </select>


</mapper>