<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.PayWayMapper" >

  <!--PayWay selectByPayWayId(Integer paywayid);-->
  <select id="selectByPayWayId" resultType="PayWay" parameterType="java.lang.Integer" >
    select *  from tbl_payway where paywayid = #{paywayid}
  </select>
  <!-- boolean deleteByPayWayId(Integer paywayid);-->
  <delete id="deleteByPayWayId" parameterType="java.lang.Integer" >
    delete from tbl_payway
    where paywayid = #{paywayid}
  </delete>
  <!--int insert(PayWay record);-->
  <insert id="insert" parameterType="pluto.entity.PayWay" >
    insert into tbl_payway (paywayid, Paywayname)
    values (#{paywayid}, #{paywayname})
  </insert>
  <!-- int updateByPayWayId(PayWay record);-->
  <update id="updateByPayWayId" parameterType="pluto.entity.PayWay" >
    update tbl_payway
    set Paywayname = #{paywayname}
    where paywayid = #{paywayid}
  </update>
</mapper>