<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.PetMapper" >


  <!--boolean insertPet(Pet pet);-->
  <insert id="insertPet" parameterType="Pet" useGeneratedKeys="true" keyProperty="petid">
    insert INTO tbl_pet(dogtypeid,dogbirthday,dogname,userid)
    VALUES(#{dogtype.dogtypeid},#{dogbirthday},#{dogname},#{user.userid})
  </insert>

  <!--boolean updatePet(Pet pet);-->
  <update id="updatePet" parameterType="Pet">
    UPDATE tbl_pet
    SET  dogtypeid=#{dogtype.dogtypeid},dogbirthday=#{dogbirthday},dogname=#{dogname}
    WHERE petid=#{petid} and userid=#{user.userid}
  </update>

 <!-- boolean deletePetByName(String dogname);-->
  <delete id="deletePetByName" parameterType="String">
    DELETE FROM tbl_pet
    WHERE dogname=#{_parameter}
  </delete>


  <resultMap id="selectPetMap" type="Pet">
    <id column="petid" property="petid"/>
    <result column="dogbirthday" property="dogbirthday"/>
    <result column="dogname" property="dogname"/>
    <association property="dogtype" javaType="DogType">
      <id column="dogtypeid" property="dogtypeid"/>
      <result column="dogtype" property="dogtype"/>
    </association>
    <association property="user" javaType="User">
      <id column="userid" property="userid"/>
      <result column="username" property="username"/>
      <result column="password" property="password"/>
      <result column="tel" property="tel"/>
      <result column="userbalance" property="userbalance"/>
      <result column="userpicture" property="userpicture"/>
      <result column="vip" property="vip"/>
    </association>
  </resultMap>

 <!-- List<Pet>selectAllPet();-->
  <select id="selectAllPet" resultMap="selectPetMap">
    SELECT  * from tbl_pet pet,tbl_user user,tbl_dogtype type
    WHERE pet.dogtypeid=type.dogtypeid AND pet.userid=user.userid
  </select>

  <!--Pet selectPetByDogName(String dogname);-->
  <select id="selectPetByDogNameAndUserId" resultMap="selectPetMap">
    SELECT  * from tbl_pet pet,tbl_user user,tbl_dogtype type
    WHERE pet.dogtypeid=type.dogtypeid AND pet.userid=user.userid AND pet.dogname=#{param1} and pet.userid=#{param2}
  </select>

</mapper>