<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.Province" >
    <id column="provinceid" property="provinceid" jdbcType="INTEGER" />
    <result column="provincename" property="provincename" jdbcType="VARCHAR" />
  </resultMap>

  <!--/*根据省名查省id*/
    public Province selectProvinceByProvinceName(@Param(" provincename") String provincename);-->
  <select id="selectProvinceByProvinceName" resultMap="BaseResultMap" parameterType="String">
    select * from tbl_province where tbl_province.provincename=#{provincename}
  </select>

</mapper>