<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.ProvinceMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.Province" >
    <id column="provinceid" property="provinceid" jdbcType="INTEGER" />
    <result column="provincename" property="provincename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    provinceid, provincename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_province
    where provinceid = #{provinceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_province
    where provinceid = #{provinceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pluto.entity.Province" >
    insert into tbl_province (provinceid, provincename)
    values (#{provinceid,jdbcType=INTEGER}, #{provincename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.Province" >
    update tbl_province
    set provincename = #{provincename,jdbcType=VARCHAR}
    where provinceid = #{provinceid,jdbcType=INTEGER}
  </update>
</mapper>