<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.ServiceTypeMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.ServiceType" >
    <id column="servicetypeid" property="servicetypeid" jdbcType="INTEGER" />
    <result column="serviceinfo" property="serviceinfo" jdbcType="CHAR" />
    <result column="servicename" property="servicename" jdbcType="VARCHAR" />
    <result column="nowprice" property="nowprice" jdbcType="DOUBLE" />
    <result column="vipprice" property="vipprice" jdbcType="DOUBLE" />
  </resultMap>

  <!-- /*查询所有的服务类型*/
    public List<ServiceType> selectAllServiceType();-->
  <select id="selectAllServiceType" resultMap="BaseResultMap">
    select * from tbl_servicetype
  </select>


  <!--/*根据服务名字查询服务类型*/
  public ServiceType selectServiceTypeByServiceName(@Param("servicename") String servicename);
-->
  <select id="selectServiceTypeByServiceName" parameterType="String" resultMap="BaseResultMap">
    select * from tbl_servicetype where tbl_servicetype.servicename=#{servicename}
  </select>
</mapper>