<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.TownMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.Town" >
    <id column="townid" property="townid" jdbcType="INTEGER" />
    <result column="townname" property="townname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    townid, townname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_town
    where townid = #{townid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_town
    where townid = #{townid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pluto.entity.Town" >
    insert into tbl_town (townid, townname)
    values (#{townid,jdbcType=INTEGER}, #{townname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.Town" >
    update tbl_town
    set townname = #{townname,jdbcType=VARCHAR}
    where townid = #{townid,jdbcType=INTEGER}
  </update>
</mapper>