<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="userbalance" property="userbalance" jdbcType="DOUBLE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pluto.entity.User" extends="BaseResultMap" >
    <result column="userpicture" property="userpicture" jdbcType="LONGVARBINARY" />
  </resultMap>

  <!--  /*根据用户id查询用户*/
      public User selectByUserId(Integer userid);-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from tbl_user where tbl_user.userid=#{param}
  </select>

  <!--/*查看用户是否是vip*/
    public boolean checkUserVip(Integer userid);-->
  <select id="checkUserVip" resultType="String" parameterType="Integer">
    select tbl_user.vip from tbl_user where tbl_user.userid = #{param}
  </select>

  <!--public boolean insertUser(User user);-->
  <insert id="insertUser" parameterType="pluto.entity.User" useGeneratedKeys="true" keyProperty="userid" >
    insert into tbl_user(username,password,tel) value(#{username},#{#password},#{tel})
  </insert>



  <!--/*用户修改信息*/
    public boolean updateUserinfo(User user);-->
  <update id="updateUserinfo" parameterType="pluto.entity.User" >
    update tbl_user set tbl_user.userid=#{user.userid},
    tbl_user.username=#{user.username},
    tbl_user.password=#{user.password},
    tbl_user.tel=#{user.tel}
    where tbl_user.userid=#{user.userid}
  </update>

</mapper>