<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.UserConsumptionMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.UserConsumption" >
    <id column="userconsumptionid" property="userconsumptionid" jdbcType="INTEGER" />
    <result column="consumptionamount" property="consumptionamount" jdbcType="DOUBLE" />
    <result column="rechargeamount" property="rechargeamount" jdbcType="DOUBLE" />
    <association property="user" javaType="User">
      <id column="userid" property="userid"></id>
      <result column="username" property="username"></result>
      <result column="password" property="password"></result>
      <result column="tel" property="tel"></result>
      <result column="userbalance" property="userbalance"></result>
    </association>
  </resultMap>
  <!-- /*查所有的消费记录根据用户id*/
      public List<UserConsumption> selectAllUserConsumption(Integer userid);-->
  <select id="selectAllUserConsumption" parameterType="Integer" resultMap="BaseResultMap">
    select * from tbl_userconsumption,tbl_user where tbl_userconsumption.userid=#{param}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >

  </delete>
  <insert id="insert" parameterType="pluto.entity.UserConsumption" >

  </insert>
  <update id="updateByPrimaryKey" parameterType="pluto.entity.UserConsumption" >

  </update>
</mapper>