/* Website template from cssmoban.com */
body {
	
	font-family: 'QuestrialRegular';
	font-size: 16px;
	margin: 0;
	min-width: 940px;
	padding: 0;
}
@font-face {
	font-family: 'QuestrialRegular';
	src:url('../../fonts/family_fonts/questrial-regular-webfont.eot');
	src: url('../../fonts/family_fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/family_fonts/questrial-regular-webfont.woff') format('woff'),
	url('../../fonts/family_fonts/questrial-regular-webfont.ttf') format('truetype'),
	url('../../fonts/family_fonts/questrial-regular-webfont.svg#QuestrialRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img {
	border: 0;
}
#header {
	background:url(../../images/family_images/bg-gray.png) repeat-x left top;
	height: 360px;
	position: relative;
	width: 100%;
	z-index: 2;
}
#header div {
	margin: 0 auto;
	width: 940px;
}
#header div a.logo {
	background:url(../../images/family_images/dogs.jpg) no-repeat center top;
	display: block;
	height: 306px;
	text-indent: -99999px;
}
#header div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li {
	float: left;
	margin: 0 0 0 0;
	position: relative;
	width: 235px;
}
#header div ul li.current a,
#header div ul li.current a:hover,
#header div ul li a:hover {
	
	color: #424141;
}
#header div ul li a:hover {
	background: none;
}
#header div ul li a {
	background: none;
	color: #a3a3a3;
	display: inline-block;
	font-size: 14px;
	height: 54px;
	line-height: 54px;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px #ffffff;
}
#header div ul li a.home {
	padding: 0 28px 0 10px;
}
#header div ul li a.about {
	padding: 0 28px 0 55px;
}
#header div ul li a.blog {
	padding: 0 28px 0 110px;
}
#header div ul li a.services {
	padding: 0 28px 0 140px;
}
#body {
	background: #cac8c8 url(../../images/family_images/bg-content2.png) repeat-x left top;
	width: 100%;
}
#body div#background {
	background: #FFFFFF url(../../images/family_images/bg-content.jpg) no-repeat center bottom;
	min-height: 420px;
	padding: 0;
	width: auto;
}
#body div#background div {
	margin: 0 auto;
	overflow: hidden;
	padding: 55px 0 80px;
	width: 940px;
}
#body div#background div div {
	margin: 0;
	padding: 0;
	width: 570px;
}
#body div#background div div div {
	padding: 61px 0 0 20px;
	width: 520px;
}
#body div#background div div div h1 {
	color: #eeb58c;
	font-size: 48px;
	font-weight: normal;
	line-height: 50px;
	margin: 0;
}
#body div#background div p {
	color: #bebebe;
	line-height: 30px;
	margin: 15px 0 0;
	text-align: justify;
}
p a {
	color: #bebebe;
}
p a:hover {
	color: #6e6c6c;
}
#body div#background div div div p a:hover,
#body div div#content div p a:hover {
	text-decoration: underline;
}
#body div#background div div.about {
	float: left;
	padding: 0;
}
#body div#background div div.about h3 {
	color: #bebebe;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 24px;
	margin: 34px 0 0;
	text-transform: uppercase;
}
#body div#background div div.about h3:first-child {
	margin: 0;
}
#body div#background div div.about p {
	font-size: 12px;
	line-height: 24px;
	margin: 0;
}




#body div {
	margin: 0 auto;
	padding: 0px 0 0px;
	width: 1000px;
}
